<ion-content>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Rangkuman</ion-card-title>
        </ion-card-header>
    </ion-card >

    <ion-card class="result" mode="ios">
        <ion-card-content>
            <ion-list>
                <ion-item-divider>
                  <ion-label>
                    SABTU, 27 NOVEMBER 1994
                  </ion-label>
                </ion-item-divider>
              
                <ion-item-sliding>
                    <ion-item>
                        <ion-label>           
                          <h2>Acara 1</h2>
                          <h3>Hadiah Mobil : Pemenang Tukiyem</h3>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                        <ion-item-option>
                          <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="start">
                        <ion-item-option>
                          <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
                
                <ion-item><ion-label>A2</ion-label></ion-item>
                <ion-item><ion-label>A3</ion-label></ion-item>
                <ion-item><ion-label>A4</ion-label></ion-item>
                <ion-item><ion-label>A5</ion-label></ion-item>
                <ion-item><ion-label>A5</ion-label></ion-item>
                <ion-item><ion-label>A5</ion-label></ion-item>
                <ion-item><ion-label>A5</ion-label></ion-item>
                <ion-item><ion-label>A5</ion-label></ion-item>
              
                <ion-item-divider>
                  <ion-label>
                    SABTU, 24 NOVEMBER 1995
                  </ion-label>
                </ion-item-divider>
              
                <ion-item><ion-label>B1</ion-label></ion-item>
                <ion-item><ion-label>B2</ion-label></ion-item>
                <ion-item><ion-label>B3</ion-label></ion-item>
                <ion-item><ion-label>B4</ion-label></ion-item>
                <ion-item><ion-label>B5</ion-label></ion-item>
                <ion-item><ion-label>B5</ion-label></ion-item>
                <ion-item><ion-label>B5</ion-label></ion-item>
                <ion-item><ion-label>B5</ion-label></ion-item>
                <ion-item><ion-label>B5</ion-label></ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card >
</ion-content>
