ion-card {
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
}

ion-item-divider{
    border-radius: 2rem;
}

ion-item{
    border-radius: 2rem;
}

.result{
    max-height: 83%;
    overflow: auto;
}