<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>Peserta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Hadiah</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Rangkuman</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
