<ion-header>
    <ion-toolbar>
      <div [ngSwitch]="action">
          <ion-title class="title" *ngSwitchCase="'acak'">KONFIGURASI ACAK</ion-title>
          <ion-title class="title" *ngSwitchCase="'viewprofile'">Tambah Kegiatan</ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()" fill="clear"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="action">
    <form  #form="ngForm" (ngSubmit)="insertevent(form)" *ngSwitchCase="'acak'">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                  <ion-label position="floating">Nama Event</ion-label>
                  <ion-input name="event" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Pilih Peserta</ion-label>
                  <ion-select  multiple="true"name="peserta" okText="Okay" cancelText="Dismiss" ngModel required>
                      <ion-select-option value="801, anggrek">anggrek</ion-select-option>
                      <ion-select-option value="802, apel">apel</ion-select-option>
                      <ion-select-option value="803, jeruk">jeruk</ion-select-option>
                      <ion-select-option value="804, mangga">mangga</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Pilih Hadiah</ion-label>
                  <ion-select multiple="true" name="hadiah" okText="Okay" cancelText="Dismiss" ngModel required>
                      <ion-select-option value="801, anggrek">anggrek</ion-select-option>
                      <ion-select-option value="802, apel">apel</ion-select-option>
                      <ion-select-option value="803, jeruk">jeruk</ion-select-option>
                      <ion-select-option value="804, mangga">mangga</ion-select-option>
                  </ion-select>
              </ion-item>

              <ion-item>
                  <ion-label>Semua Peserta ikut</ion-label>
                  <ion-toggle></ion-toggle>
              </ion-item>
            </ion-list>
            <div class="ion-padding">
              <ion-button  size="medium" type="submit" [disabled]="form.invalid" expand="block">Add Data</ion-button>
            </div>
    </form>

</ion-content>
