<ion-content>
  
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title class="ion-text-center">List Peserta</ion-card-title>
        </ion-card-header>
    </ion-card >

    <ion-card mode="ios">
        <ion-searchbar animated mode="ios"></ion-searchbar>
    </ion-card >

    <ion-card class="result" mode="ios">
        <ion-card-content>
            <ion-list *ngFor="let service of key">
                  <!-- Sliding item with icon end options on end side -->
                <ion-item-sliding>
                    <ion-item>
                      <ion-label>
                          {{ service }}
                      </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                        <ion-item-option>
                          <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item-options side="start">
                        <ion-item-option>
                          <ion-icon slot="icon-only" name="create"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-card-content>
    </ion-card >

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
