ion-content{
  --background: linear-gradient(rgba(255, 0, 0, 0.815), rgb(255, 255, 255));
}

ion-card {
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
}

ion-item-divider{
  border-radius: 2rem;
}

ion-item{
  border-radius: 2rem;
}

.result{
  max-height: 55%;
}
