<ion-content>
  
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Selamat Datang di Hadiah Apps</ion-card-title>
        </ion-card-header>
    </ion-card >

    <ion-card class="welcome-card" mode="ios">
      <ion-card-header class="ion-text-center">
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Hanya tinggal tekan tombolnya dan wow lihat hasilnya</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button size="large" expand="block" id="submit" shape="round" (click)="showmodal('acak')">
            MULAI DIACAK
            <ion-icon slot="end" name="paper-plane"></ion-icon>
          </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="result" mode="ios">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Pemenangnya adalah...</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <ion-list *ngFor="let service of key">
                <ion-item-group lines="full">
                  <ion-item-divider button (click)="key[service] = !key[service]" mode="ios" detail="true">
                    <ion-label slot="start">{{ service }}</ion-label>
                    <ion-icon name="remove-circle" slot="end" *ngIf="key[service]; else right"></ion-icon>
                    <ng-template #right><ion-icon name="add-circle" slot="end" ></ion-icon></ng-template>
                  </ion-item-divider>
                  <div *ngIf="key[service];"> 
                  <div *ngFor="let isi of valuelist">
                  <div *ngIf="service!=isi"> <!-- disini nanti logicnya diubah -->
                          <ion-item button >
                          <ion-label>{{ isi }}</ion-label>
                      
                  </ion-item>
                  </div>
                  </div>
                  </div>
                </ion-item-group>
              </ion-list>
          </ion-card-content>
    </ion-card >

</ion-content>
