ion-content{
    --background: linear-gradient(rgba(255, 0, 0, 0.815), rgb(255, 255, 255));
}

ion-card {
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
}

.result{
    max-height: 68.5%;
    overflow: auto;
}

ion-searchbar{
    --background: rgb(255, 255, 255);
}

ion-fab{
    size: 200%;
}

  